@import "variables";
@import "button";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 121px 0 57px;
}
%elem {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
}
.header {
  padding: 0 0 40px;
  text-align: center;
  &__subtitle {
    color: $sub-text;
    font-family: "Raleway", sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    line-height: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__title {
    color: $gold;
    font-family: "Roboto", sans-serif;
    font-size: 3.75rem;
    line-height: 4.125rem;
    text-transform: uppercase;
    margin-bottom: 33px;
  }
  &__icon {
    position: relative;
    display: inline-block;
    padding: 0px 5px;
    margin-bottom: 35px;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 210px;
      height: 1px;
      color: $text;
      background: $gold;
      position: absolute;
      top: 8px;
      right: 25px;
    }
    &::after {
      left: 25px;
    }
  }
}

.developer {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  flex-wrap: wrap;

  &__img {
    width: 34%;
    margin: 0 auto;
    padding: 81px 0 70px;
    img {
      width: 100%;
    }
  }

  &__wrapper {
    position: relative;
    .img_before {
      &::before {
        @extend %elem;
        border-left: 1px solid $gold;
        border-top: 1px solid $gold;
        top: -16px;
        left: -16px;
      }
      &::after {
        @extend %elem;
        border-right: 1px solid $gold;
        border-top: 1px solid $gold;
        top: -16px;
        right: -16px;
      }
    }
    .img_after {
      &::before {
        @extend %elem;
        border-left: 1px solid $gold;
        border-bottom: 1px solid $gold;
        bottom: -14px;
        left: -16px;
      }
      &::after {
        @extend %elem;
        border-right: 1px solid $gold;
        border-bottom: 1px solid $gold;
        bottom: -14px;
        right: -16px;
      }
    }
  }

  &__divider-vertical {
    width: 1px;
    background-color: $gold;
  }
  &__info {
    padding: 68px 0px 70px;
    width: 34%;
    margin: 0 auto;
  }

  &__title {
    max-width: 100%;
    margin: 0 auto;
    color: $title;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 2.25rem;
    font-weight: 900;
    margin-bottom: 53px;
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 100px;
      height: 1px;
      background: $gold;
      position: absolute;
      bottom: -24px;
      left: 50%;
      transform: translateX(-50%);

    }
  }

  &__subtitle {
    max-width: 100%;
    color: $title;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    margin-bottom: 25px;
  }

  &__links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 44px;
    a:hover {
      svg circle{
        stroke: $icon-color;
      }
      svg path {
        fill: $icon-color;
      }
    }
  }

  &__descr {
    color: $text;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 44px;
    position: relative;
    &:after {
      content: "";
      width: 50px;
      height: 4px;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -20px;
      background: linear-gradient(to right, #FC0 20%,
      #fff 20%, #fff 30%,
      #FC0 30%, #FC0 70%,
      #fff 70%, #fff 80%,
      #FC0 80%, #FC0 100%)

    }
  }

  // &__divider {
  //   width: 50px;
  //   height: 4px;
  //   margin: 0 auto;
  //   margin-bottom: 25px;
  //   background: linear-gradient(to right, #FC0 20%,
  //   #fff 20%, #fff 30%,
  //   #FC0 30%, #FC0 70%,
  //   #fff 70%, #fff 80%,
  //   #FC0 80%, #FC0 100%)
  // }

  &__btn {
    text-align: center;
  }
}
