.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background: #fff;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  &:target {
    visibility: visible;
    opacity: 1;
  }

}

.popup {
  background-color: #fff;
  margin: 0 auto;
  padding: 150px 0;
  background: #fff;
  width: 100%;
  position: relative;
  transition: all 5s ease-in-out;
  &__list {
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
    padding: 20px 15px 19px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  li {
    width: 270px;
    height: 180px;
    list-style: none;
    cursor: pointer;
  }
  h2 {
    color: #000;
    font-family: 'Roboto';
    font-size: 2.25rem;
    line-height: 3rem;
    letter-spacing: 0.09rem;
    margin-bottom: 40px;
    padding-left: 120px;
    position: relative;

    &::before {
      content: '';
      width: 100px;
      height: 8px;
      background-color: #000;
      position: absolute;
      top: 20px;
      left: 0;
    }
  }
  .close {
    position: absolute;
    top: 90px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: #a6a3a3;
    }
  }
}
.item {
  position: relative;
  transition: all .8s ease;
  transform-style:preserve-3d;
  &__front,
  &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
  &__front {
    z-index: 2;
    transform: rotateX(0deg);
    background-color: #a6a3a3;
    backface-visibility: hidden;
  }
  &__back {
    transform: rotateX(-180deg);
    background-color: #000;
    svg path {
        fill:#fff;
      }
  }
  .shopify {
    svg path:nth-child(3) {
        fill:#000;
      }
  }
  .pinterest {
    svg path:nth-child(10) {
        fill:#000;
      }
  }
  .wix {
    svg {
      path:nth-child(2) {
        fill:#000;
      }
      path:nth-child(3) {
        fill: #fff;
      }
      path:nth-child(4) {
        fill: #000;
      }
      path:nth-child(5) {
        fill: #000;
      }
    }
  }
  .salesforce {
    svg path{
      &:nth-child(2),
      &:nth-child(3) {
      fill:#000;
      }
    }
  }
  &:hover {
    transform: rotateX(-180deg);
  }
 }