@font-face {
  font-family: 'Sans-italic';
  src: url('../fonts/pt-sans-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sans-bold';
  src: url('../fonts/pt-sans-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sans-regular';
  src: url('../fonts/pt-sans-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Farro';
  src: url('../fonts/Farro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Francois';
  src: url('../fonts/FrancoisOne.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Staatliches';
  src: url('../fonts/Staatliches-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Tourney';
  src: url('../fonts/Tourney_Expanded-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}