$main-color: #fff;
$icon-color: rgba(255, 255, 255, 0.70);
$main-bg-color: #39C;
$border-color: #2b81ac;
$lisbon: #3399CC;
$paris: #33cccc;
$belgrade: #996699;
$venice: #c24747;
$tel-avive: #e2674a;
$cair: #ffcc66;
$new-york: #99cc99;
$new-delhi: #669999;
$san-francisco: #cc6699;
$tokyo: #339966;
$sydney: #666699;