@font-face {
  font-family: "Lucida Sans Unicode";
  font-style: normal;
  font-weight: 400;
  src: local("Lucida Sans Unicode"),
    url("../font/Lucida\ Sans\ Unicode\ Regular.ttf");
}

@font-face {
    font-family: "Weather Icons;";
    font-style: normal;
    font-weight: 400;
    src: local(" Weather Icons;"),
      url("../font/weathericons-regular-webfont.eot");
  }

:root {
  --main-color: #fff;
  --icon-color: rgba(255, 255, 255, 0.70);
  --main-bg-color: #39C;
  --border-color: #2b81ac;
  --lisbon: #3399CC;
  --paris: #33cccc;
  --belgrade: #996699;
  --venice: #c24747;
  --tel-avive: #e2674a;
  --cair: #ffcc66;
  --new-york: #99cc99;
  --new-delhi: #669999;
  --san-francisco: #cc6699;
  --tokyo: #339966;
  --sydney: #666699;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  box-shadow: 0 0 0 25px inset var(--border-color);
  background: var(--main-bg-color);
  font-family: "Lucida Sans Unicode";
  color: var(--main-color);
  min-height: 100%;
}
.container {
  width: min(90%, 1166px);
  margin-inline: auto;
  padding: 60px 0 119px;
}

.title {
  font-size: 1.3125rem;
  margin-bottom: 31px;
  font-weight: 400;
}
.wrapper {
  cursor: url(../icons/cursor.png), pointer;
  margin-bottom: 35px;
  font-size: 0;
  border: 2px solid var(--main-color);
  .item {
    display: inline-block;
    padding: 25px 0 34px;
    border: 2px solid var(--main-color);
    text-align: center;
    width: 25%;
    border-collapse: separate;
    li {
      list-style: none;
    }
    &__city {
      font-weight: 400;
      font-size:  1.375rem;
      margin-bottom: 10px;
    }
    &__weather {
        font-size: 1.375rem;
        color: var(--icon-color);
        text-align: center;

    }
  }
  .width50 {
    width: 50%;
  }
  .width100 {
    width: 100%;
  }
  &:hover li {
    opacity: 0.7;
  }
  & li:hover {
    opacity: 1;
  }
}

.greeting {
  font-size: 1rem;
}

.wi {
    vertical-align: middle;
    font-size: 2.625rem;
    margin-left: 12px;
}
.wi-sunrise {
    vertical-align:baseline;
    font-size: 1.6875rem;
    margin-left: 3px;
}
#lisbon {
  background-color: var(--lisbon);
}
#paris {
  background-color: var(--paris);
}

#belgrade {
  background-color: var(--belgrade);
}
#venice {
  background-color: var(--venice);
}
#tel-avive {
  background-color: var(--tel-avive);
}
#cair {
  background-color: var(--cair);
}
#new-york {
  background-color: var(--new-york);
}
#new-delhi {
  background-color: var(--new-delhi);
}
#san-francisco {
  background-color: var(--san-francisco);
}
#tokyo {
  background-color: var(--tokyo);
}
#sydney {
  background-color: var(--sydney);
}
