@font-face {
  font-family: "Lucida";
  src: url("../font/Lucida\ Sans\ Unicode\ Regular.woff2") format(woff2);
  font-weight: 400;
}

@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-shadow: 0 0 0 25px inset $border-color;
  background: $main-bg-color;
  font-family: Lucida, sans-serif;
  color: $main-color;
  min-height: 100vh;
}

.container {
  width: min(90%, 1170px);
  margin-inline: auto;
}

.screen-weather {
    padding: 66px 0 119px;
}

.title {
  font-size: 1.3125rem;
  margin-bottom: 31px;
  font-weight: 400;
}

.wrapper {
  cursor: url(../icons/cursor.png), pointer;
  margin-bottom: 33px;
  font-size: 0;
  padding: 2px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  li {
    width: 25%;
    padding: 2px;
    .item__wrap {
      padding: 23px 0 34px;
      text-align: center;
      font-size:  1.375rem;
    }
    .item__city {
      margin-bottom: 9px;
    }
    .item__weather {
        line-height: 2.625rem;
        color: $icon-color;
        .wi {
            vertical-align: middle;
            font-size: 2.625rem;
            margin-left: 12px;
        }
    }
  }

  .width50 {
    width: 50%;
  }
  .width100 {
    width: 100%;
  }
  &:hover li:not(:hover) {
    opacity: 0.7;
  }

}

.greeting {
  font-size: 1rem;
}

.wi-sunrise {
    font-size: 1.6875rem;
    margin-left: 3px;
}
#lisbon {
  background-color: $lisbon;
}
#paris {
  background-color: $paris;
}

#belgrade {
  background-color: $belgrade;
}
#venice {
  background-color: $venice;
}
#tel-avive {
  background-color: $tel-avive;
}
#cair {
  background-color: $cair;
}
#new-york {
  background-color: $new-york;
}
#new-delhi {
  background-color: $new-delhi;
}
#san-francisco {
  background-color: $san-francisco;
}
#tokyo {
  background-color: $tokyo;
}
#sydney {
  background-color: $sydney;
}
