* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #3B3F45;
    height: 100vh;
}
.container {
    width: min(90%, 800px);
    margin: 0 auto;
}

.header {
    padding: 23px 0;
    background-color: #4A4F56;
    margin-bottom: 40px;
    color: #FF8984;
    &__title {
        font-size: 36px;
        line-height: 42px;
        font-weight: bold;
        margin-bottom: 4px;
        text-align: center;
    }
    &__subtitle {
        font-size: 24px;
        text-align: center;

    }
}

.list {
    margin: 0 auto;
    margin-bottom: 42px;
    &__item {
        list-style-type: none;
        padding: 17px 0 17px 58px;
        background: #88839E;
        color: #fff;
        position: relative;
        transition: all .1s ease-in;
        &:nth-child(even) {
            background: #7A7593;
        }
        &:hover {
            background: #625E77;
        }
        label {
            font-size: 27px;
            line-height: 32px;
        }
    }

    .wrap-item {
        display: inline-block;
        position: relative;
        transition: all .1s ease-in;
    }
    input {
        display: none;
    }

    .custom-checkbox:checked + label::after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        left: 3px;
        top: 17px;
        background: #9B96AC;
        transition: all .1s ease-in
    } 

    .custom-checkbox + label::before {
        content: '';
        display: inline-block;
        width: 28px;
        height: 28px;
        position: absolute;
        top: 4px;
        left: -43px;
        background: #fff;
        margin-right: 1em;
        transition: all .1s ease-in
    }
    .custom-checkbox:checked + label::before {
        content: "";
        background-image: url("../icons/Vector.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    li:has(input[type="checkbox"]):active {
        color: red;
    }
    li:has(input[type="checkbox"]:checked){
        &:active {
            color: red;
        }
        background: #6f698a;
        color: #9B96AC;
        box-shadow: 0 3px 2px 0 rgba(0, 0, 0, .3);
        z-index: 3;
        position: relative;
    }
 
    span {
        display: inline-block;
        margin-left: 9px;
        vertical-align: middle;
        font-size: 17px;
    }
    span::before {
        content: "(";
    }
    span::after {
        content: ")";
    }
}
.footer {
    &__descr {
        background: #4A4F56;  
        font-size: 28px;
        color: #FF8984;
        text-align: center;
        padding: 15px 0 16px;
    }
}
