
$bg: #3B3F45;
$red-color: #FF8984;
$bg-secondary: #4A4F56;
$purpur-reg:#88839E;
$purpur-dark: #625E77;
$checked : #9B96AC;
$purpur-checked: #7A7593;


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6875rem;
    color: $red-color;
    background-color: $bg;
}

.container {
    width: min(90%, 800px);
    margin: 0 auto;
}

.header {
    padding: 23px 0;
    background-color: $bg-secondary;
    text-align: center;
    &__title {
        font-size: 2.25rem;
        line-height: 2.625rem;
        margin-bottom: 6px;
    }
    &__subtitle {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}

main {
    padding: 40px 0 100px;
}

.list {
    list-style-type: none;
    background-color: $purpur-reg;
    margin-bottom: 40px;
    li {
        &:nth-child(even) {
            background: $purpur-dark;
        }
    }
}

input[type="checkbox"] {
    display: none;
    + label {
        display: inline-block;
        width: 100%;
        padding: 15px 15px 13px 58px;
        position: relative;
        font-size: 1.6875rem;
        line-height: 2rem;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        transition: all .2s ease;
        color: #fff;
        &:hover {
            border-color: #fff;
        }
        &:active {
            background-color: $red-color;
        }
        &::before {
            content: "";
            display: inline-block;
            width: 28px;
            height: 28px;
            background-color: #fff;
            position: absolute;
            top: 15px;
            left: 17px;
        }
        span {
            position: relative;

        }
        small {
            font-size: 1.0625rem;
            position: relative;
            top: -3px;
            margin-left: 10px;
            &::before {
                content: "("
            }
            &::after {
                content: ")"
            }
        }
    }
    &:checked + label {
        color: $checked;
        background-color: $purpur-checked;
        span::after {
            content: "";
            display: inline-block;
            height: 2px;
            width: 100%;
            position: absolute;
            left: 0;
            top: 16px;
            background-color: $checked;
        }
        &::after {
            content: "";
            position: absolute;
            display: inline-block;
            width: 16px;
            height: 8px;
            border-left: 4px solid $bg;
            border-bottom: 4px solid $bg;
            rotate: -45deg;
            left: 21px;
            top: 25px;

        }
    }
    
}

.btn {
    display: inline-block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 16px 0;
    font-size: 1.75rem;
    color: $red-color;
    background-color: $bg-secondary;
    border: none;
    border-radius: 0;
    transition: all .2s ease;
    &:hover {
        background-color: $red-color;
        color: $bg-secondary;
    }
}
