
$var-primary-color: #828282;
$var-secondary-color: #070707;
$var-bg-color: #f6f6f6;


* {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: min(90%, 970px);
  margin: 0 auto;
}

.header {
  padding: 26px 0px 25px;
  border-bottom: 1px solid $var-primary-color;
  margin-bottom: 16px;

  &__list {
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    li {
      list-style-type: none;
      font-size: 18px;
      line-height: 28px;
      margin-right: 43px;
      &:last-child {
        margin-right: 0px;
      }
    }
    a {
      text-decoration: none;
      color: $var-primary-color;
    }
    .active a{
      color: $var-secondary-color;
    }
  }
}

.first-screen {
  margin: 0 auto;
  &__wrapper {
    &-title {
      font-weight: bold;
      font-size: 48px;
      margin-bottom: 50px;
    }
    &-foto {
      img {
        width: 100%;
      }
    }
  }
}

.info {
  background: $var-bg-color;
  &__wrapper {
    padding: 101px 0;
    max-width: 480px;
    margin: 0 auto;
  }
  .title {
    margin-bottom: 46px;
  }
  &__descr {
    text-align: center;
    p {
      margin-bottom: 30px;
      line-height: 25px;
      font-size: 18px;
      &:last-child {
        margin-bottom: 0px;
        max-width: 321px;
        margin: 0 auto;
      }
    }
  }
}

.skills {
  padding: 102px 0px 100px;
  ul:nth-last-of-type() {
    margin-bottom: 30px;
  }
  .title {
    margin-bottom: 16px;
  }
  &__text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 48px;
  }
  &__items {
    margin-bottom: 0px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    flex-wrap: wrap;
    row-gap: 50px;
    li {
      list-style-type: none;
    }
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      &_icon {
        width: 80px;
        aspect-ratio: 1;
        text-align: center;
        margin-bottom: 26px;
      }
      &_name {
        max-width: 90px;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        text-align: center;
        color: $var-primary-color;
        margin-bottom: 60px;
      }
      &-rating {
        display: flex;
        padding-left: 0px;
        li {
          margin-right: 10px;
          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
  .figma-mb {
    margin-bottom: 80px;
  }
}


.portfolio {
  background: $var-bg-color;
  padding: 102px 0px 30px 0px;
  .title {
    margin-bottom: 47px;
  }
  &__img {
    margin-bottom: 40px;
      img {
        width: 100%;
      }
    }
  &__link {
      max-width: 260px;
      margin: 0 auto;
      margin-bottom: 70px;
      text-align: center;
      a {
        font-size: 18px;
        line-height: 25px;
        color: $var-primary-color;
      }
    }
}


.footer {
  padding: 100px 0px;
  max-width: 310px;
  margin: 0 auto;
  .title {
    margin-bottom: 17px;
  }
  &__descr {
    max-width: 306px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 56px;
  }
  &__btn {
    margin-bottom: 29px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 180px;
    padding: 13px 0;
    background: $var-secondary-color;
    border-radius: 22px;
    font-size: 18px;
    line-height: 19px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    outline: none;
    border: none;
    transition: all .3s ease;
    &:hover {
      color: $var-secondary-color;
      background-color:#a2a1a1;
    }
  }
  &__links {
    padding-left: 0px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    li {
      list-style-type: none;
      width: 40px;

      img {
        width: 100%;
        transition: all .3s ease;
        &:hover {
          opacity: .5;;
        }
      }
    }
  
  }
  &__subdescr {
    margin: 0 auto;
    text-align: center;
    max-width: 200px;
    color: $var-primary-color;
    font-size: 14px;
    line-height: 19px;
  }
}
.title {
  font-weight: bold;
  font-size: 34px;
  text-align: center;
}

.star {
  width: 26px;
  height: 26px;
  background: url("../icons/starBlack.png") center center no-repeat;
}
.star_gray {
  opacity: .5;
}
