.contacts__hero {
  padding-top: 100px;
  position: relative;
  .hero-bg {
    position: relative;
    margin-bottom: 100px;
    flex: 1;
    height: 784px;
    clip-path: polygon( 0% 6.702%,0% 6.702%,0.041% 5.615%,0.16% 4.584%,0.35% 3.622%,0.604% 2.744%,0.918% 1.963%,1.283% 1.293%,1.693% 0.748%,2.143% 0.342%,2.625% 0.088%,3.133% 0%,69.303% 0%,74.639% 0%,96.867% 0%,96.867% 0%,97.375% 0.088%,97.857% 0.342%,98.307% 0.748%,98.717% 1.293%,99.082% 1.963%,99.395% 2.744%,99.65% 3.622%,99.84% 4.584%,99.959% 5.615%,100% 6.702%,100% 7.641%,100% 7.641%,99.987% 7.989%,99.949% 8.319%,99.888% 8.626%,99.807% 8.907%,99.706% 9.157%,99.59% 9.372%,99.458% 9.546%,99.314% 9.676%,99.16% 9.757%,98.997% 9.786%,87.375% 9.786%,87.375% 9.786%,86.714% 9.9%,86.087% 10.23%,85.503% 10.758%,84.969% 11.467%,84.495% 12.338%,84.088% 13.353%,83.757% 14.494%,83.51% 15.745%,83.355% 17.085%,83.302% 18.499%,83.302% 18.499%,83.355% 19.912%,83.51% 21.253%,83.757% 22.503%,84.088% 23.645%,84.495% 24.66%,84.969% 25.531%,85.503% 26.239%,86.087% 26.768%,86.714% 27.098%,87.375% 27.212%,98.997% 27.212%,98.997% 27.212%,99.16% 27.24%,99.314% 27.321%,99.458% 27.451%,99.59% 27.626%,99.706% 27.84%,99.807% 28.09%,99.888% 28.371%,99.949% 28.679%,99.987% 29.009%,100% 29.357%,100% 67.828%,100% 68.767%,100% 81.367%,100% 81.367%,99.987% 81.715%,99.949% 82.045%,99.888% 82.353%,99.807% 82.634%,99.706% 82.884%,99.59% 83.098%,99.458% 83.273%,99.314% 83.403%,99.16% 83.484%,98.997% 83.512%,83.424% 83.512%,83.424% 83.512%,83.129% 83.563%,82.85% 83.71%,82.589% 83.946%,82.351% 84.262%,82.139% 84.651%,81.958% 85.104%,81.81% 85.613%,81.7% 86.171%,81.631% 86.769%,81.607% 87.399%,81.607% 97.855%,81.607% 97.855%,81.594% 98.203%,81.556% 98.533%,81.495% 98.841%,81.414% 99.122%,81.313% 99.372%,81.197% 99.586%,81.065% 99.761%,80.921% 99.891%,80.767% 99.972%,80.605% 100%,3.133% 100%,3.133% 100%,2.625% 99.912%,2.143% 99.658%,1.693% 99.252%,1.283% 98.707%,0.918% 98.037%,0.604% 97.256%,0.35% 96.378%,0.16% 95.416%,0.041% 94.385%,0% 93.298%,0% 74.531%,0% 74.531%,0.041% 73.444%,0.16% 72.412%,0.35% 71.451%,0.604% 70.572%,0.918% 69.792%,1.283% 69.122%,1.693% 68.577%,2.143% 68.17%,2.625% 67.916%,3.133% 67.828%,66.17% 67.828%,66.17% 67.828%,66.679% 67.741%,67.161% 67.487%,67.61% 67.08%,68.021% 66.535%,68.386% 65.865%,68.699% 65.084%,68.954% 64.206%,69.144% 63.244%,69.262% 62.213%,69.303% 61.126%,69.303% 29.223%,69.303% 29.223%,69.262% 28.135%,69.144% 27.104%,68.954% 26.142%,68.699% 25.264%,68.386% 24.483%,68.021% 23.813%,67.61% 23.268%,67.161% 22.862%,66.679% 22.608%,66.17% 22.52%,3.133% 22.52%,3.133% 22.52%,2.625% 22.432%,2.143% 22.178%,1.693% 21.772%,1.283% 21.227%,0.918% 20.557%,0.604% 19.776%,0.35% 18.898%,0.16% 17.936%,0.041% 16.905%,0% 15.818%,0% 6.702% );
    background: url('../images/contacts-bg.jpg') right -200px top/ cover no-repeat;
  }
  .about-info {
    max-width: 97%;
    top: 52%;
    transform: translateY(-52%);
    .portfolio-descr {
      width: 70%;
    }
  }
  .about__text {
    bottom: 35px;
  }
  .bottom-links {
    position: absolute;
    margin-left: auto;
    // top: 200px;
    top: 164px;
    right: 0%;
    width: 275px;
    background-color: $bg-color;
    padding: 36px;
    padding-left: 25px;
    border: none;
    border-radius: 90px 0 0 90px;
    ul {
      width: 245px;
      border: 0.06rem solid $border-color;
      border-radius: 6.25rem;
      padding: 10px;
    }
    a {
      transition: all 1s ease;
      width: 68px;
      height: 68px;
    }
  }
}

@media screen and (max-width: 1010px) {

  .contacts__hero {
    position: relative;
    padding-bottom: 50px;
    .hero-bg {
      order: 1;
      margin-bottom: 0px;
      height: 357px;
      background-position: center right;
      margin-bottom: 68px;
      clip-path: polygon( 3.361% 0%,3.361% 0%,2.816% 0.069%,2.299% 0.267%,1.817% 0.585%,1.376% 1.011%,0.985% 1.535%,0.649% 2.145%,0.375% 2.832%,0.171% 3.584%,0.044% 4.39%,0% 5.24%,0% 94.76%,0% 94.76%,0.044% 95.61%,0.171% 96.416%,0.375% 97.168%,0.649% 97.855%,0.985% 98.465%,1.376% 98.989%,1.817% 99.415%,2.299% 99.733%,2.816% 99.931%,3.361% 100%,5.441% 100%,5.441% 100%,8.193% 99.584%,10.924% 98.456%,13.637% 96.793%,16.34% 94.774%,19.037% 92.576%,21.734% 90.379%,24.437% 88.36%,27.151% 86.697%,29.881% 85.569%,32.633% 85.153%,67.647% 85.153%,67.647% 85.153%,70.399% 85.569%,73.13% 86.697%,75.843% 88.36%,78.546% 90.379%,81.243% 92.576%,83.94% 94.774%,86.643% 96.793%,89.356% 98.456%,92.087% 99.584%,94.839% 100%,96.639% 100%,96.639% 100%,97.184% 99.931%,97.701% 99.733%,98.183% 99.415%,98.624% 98.989%,99.015% 98.465%,99.351% 97.855%,99.625% 97.168%,99.829% 96.416%,99.956% 95.61%,100% 94.76%,100% 5.24%,100% 5.24%,99.956% 4.39%,99.829% 3.584%,99.625% 2.832%,99.351% 2.145%,99.015% 1.535%,98.624% 1.011%,98.183% 0.585%,97.701% 0.267%,97.184% 0.069%,96.639% 0%,3.361% 0% );
    }
    .about-info {
      position: relative;
      order: 3;
      bottom: 0;
      transform: translateY(0%);
      .portfolio-descr {
        width: 100%;
      }
    }
    .about__text {
      display: none;
    }
    .bottom-links {
      position: absolute;
      top: 52%;
      order: 2;
      right: 50%;
      transform: translateX(50%);
      width: 275px;
      border: none;
      background: none;
      padding: 10px;
    }

  }
}

@media screen and (max-width: 788px) {
  .contacts__hero { 
    .bottom-links {
      top: 50%;
    }
  }
}

@media screen and (max-width: 623px) {
  .contacts__hero { 
    .bottom-links {
      top: 52%;
    }
    .about-info {
      .info-name {
        font-size: 1.75rem;
      }
      .portfolio-descr {
        font-size: 0.88rem;
      }
    }
  }
}

@media screen and (max-width: 496px) {
  .contacts__hero { 
    .bottom-links {
      transform: translateX(64%);
      top: 51%;
      ul {
        width: 174px;
        padding: 6px;
        gap: 6px;
      }
      a {
        width: 50px;
        height: 50px;
      }
    }
  }
}
@media screen and (max-width: 469px) {
  .contacts__hero { 
    .bottom-links {
      top: 49%;
    }
  }
}

@media screen and (max-width: 370px) {
  .contacts__hero { 
    .bottom-links {
      top: 49%;
    }
  }
}
@media screen and (max-width: 356px) {
  .contacts__hero { 
    .bottom-links {
      top: 46%;
    }
  }
}