.services__hero {
  padding-top: 100px;
  position: relative;
  .hero-bg {
    margin-bottom: 100px;
    flex: 1;
    min-height: 784px;
    clip-path: polygon( 16.353% 4.847%,16.353% 4.847%,16.322% 4.061%,16.232% 3.315%,16.088% 2.619%,15.894% 1.984%,15.656% 1.42%,15.379% 0.935%,15.067% 0.541%,14.725% 0.247%,14.359% 0.063%,13.972% 0%,2.381% 0%,2.381% 0%,1.995% 0.063%,1.628% 0.247%,1.287% 0.541%,0.975% 0.935%,0.697% 1.42%,0.459% 1.984%,0.266% 2.619%,0.121% 3.315%,0.031% 4.061%,0% 4.847%,0% 32.143%,0% 33.673%,0% 73.597%,0% 73.597%,0.028% 74.3%,0.109% 74.968%,0.238% 75.59%,0.411% 76.158%,0.624% 76.663%,0.872% 77.097%,1.151% 77.45%,1.457% 77.713%,1.785% 77.877%,2.13% 77.934%,9.757% 77.934%,9.757% 77.934%,10.102% 77.99%,10.43% 78.155%,10.736% 78.418%,11.015% 78.77%,11.263% 79.204%,11.476% 79.709%,11.649% 80.277%,11.778% 80.9%,11.859% 81.567%,11.887% 82.27%,11.887% 95.663%,11.887% 95.663%,11.915% 96.367%,11.996% 97.034%,12.125% 97.656%,12.298% 98.225%,12.511% 98.73%,12.759% 99.163%,13.038% 99.516%,13.344% 99.779%,13.672% 99.943%,14.017% 100%,77.995% 100%,77.995% 100%,78.341% 99.943%,78.668% 99.779%,78.974% 99.516%,79.253% 99.163%,79.501% 98.73%,79.714% 98.225%,79.888% 97.656%,80.017% 97.034%,80.097% 96.367%,80.125% 95.663%,80.125% 81.633%,80.125% 81.633%,80.153% 80.929%,80.234% 80.262%,80.363% 79.64%,80.536% 79.071%,80.749% 78.566%,80.998% 78.133%,81.277% 77.78%,81.582% 77.517%,81.91% 77.353%,82.256% 77.296%,97.87% 77.296%,97.87% 77.296%,98.215% 77.239%,98.543% 77.075%,98.849% 76.812%,99.128% 76.459%,99.376% 76.026%,99.589% 75.52%,99.762% 74.952%,99.891% 74.33%,99.972% 73.663%,100% 72.959%,100% 36.99%,100% 36.99%,99.969% 36.204%,99.879% 35.458%,99.734% 34.762%,99.541% 34.127%,99.303% 33.562%,99.025% 33.078%,98.713% 32.684%,98.372% 32.39%,98.005% 32.206%,97.619% 32.143%,18.734% 32.143%,18.734% 32.143%,18.348% 32.079%,17.982% 31.896%,17.64% 31.602%,17.328% 31.208%,17.051% 30.723%,16.813% 30.158%,16.619% 29.523%,16.475% 28.828%,16.385% 28.082%,16.353% 27.296%,16.353% 4.847% );
    background: url('../images/serv-b.jpg') center bottom/ cover no-repeat;
  }
  .about-info {
    padding-top: 20px;
    left: 20%;
  }
}

@media screen and (max-width: 1440px) {
  .services__hero {
    .about-info {
      .info-name {
        font-size: 3rem;
      }
      .portfolio-descr {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 1149px) {
  .services__hero {
    .about-info {
      .info-name {
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .services__hero {
    .about-info {
      .info-name {
        font-size: 1.75rem;
      }
      .portfolio-descr {
        font-size: 0.88rem;
      }
    }
  }
}

@media screen and (max-width: 886px) {
  .services__hero {
    padding-top: 0;
    .hero-bg {
      order: 1;
      clip-path: none;
      border-radius: 20px;  
      background-size: cover;
      min-height: 357px;
      position: relative;
      margin-bottom: 30px;
    }
    .about-info {
      left: 0;
      position: relative;
      top: 0;
      order: 2;
      padding-bottom: 50px;
      .info-name {
        font-size: 1.5rem;
      }
      .portfolio-descr {
        min-width: 100%;
      }
    }
  }
}