$dark: #333;
$bg-color: #070708;
$text-color: #AFB0B6;
$text-hover-color: #fff;
$bg-hover-color: rgb(19, 19, 22);
$border-color: rgb(28, 28, 33);
$btn-hover-color: #2F2F37;
$subtitle-color: rgb(121, 124, 134);
$general-one-color: #FFF;
$button-bg-color: rgb(74, 44, 237);
$button-bg-hover-color:rgb(90, 62, 245);
$link-color: #F2F2F3;
$hero-subtitle-color: rgb(98, 100, 108);
$hero-name-color: rgb(229, 229, 231);
$line-text-color: rgb(215, 208, 251);
$bg-line-color: rgb(14, 14, 16);
$about-title-color: rgb(202, 202, 206);
$descr-color: rgb(175, 176, 182);
$link-color: rgb(242, 242, 243);
$border-link-color: rgb(47, 47, 55);
$placeholder-color: rgb(98, 100, 108);