@font-face {
  font-family: 'Montserrat Regular';
  src: url("../fonts/Montserrat-Regular.woff2") format('woff2');

};

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/Montserrat-Bold.woff2") format('woff2');

};

@font-face {
  font-family: 'OS Italic';
  src: url("../fonts/OpenSans-Italic.woff2") format('woff2');

};
@font-face {
  font-family: 'OS Regular';
  src: url("../fonts/OpenSans-Regular.woff2") format('woff2');

};

@font-face {
  font-family: 'SourceSP Regular';
  src: url("../fonts/SourceSansPro-Regular.woff2") format('woff2');

};
