.gallery {
  padding: 179px 0 150px;
  &__wrapper {
    position: relative;
    top: -5px;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 55px;
  }
  &__btn {
    display: flex;
    justify-content: center;
  }
  .big_item {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .item {
    position: relative;
    &::before {
      content: url(../icons/search.svg);
      display: block;
      position: absolute;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all ease 1s;
    }
    &::after {
      content: "";
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0, 0.4);
      transition: all ease 1s;
    }
    &:hover::before {
        opacity: 1;
        z-index: 1;
    }
    &:hover::after {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 800px) {
  .gallery {
    &__wrapper {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 55px;
    }
    .big_item {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
    }
  }
}

@media screen and (max-width: 577px) {
  .gallery {
    padding-top: 100px;
    // &__wrapper {
    //   grid-template-columns: 1fr;
    //   gap: 10px;
    //   margin-bottom: 55px;
    // }
    // .big_item {
    //   grid-column: 1 / 1;
    //   grid-row: 1 / 1;
    // }
    .title {
      margin-bottom: 40px;
    }
  }
}