.features {
    background: url(../icons/bg.svg) center bottom/cover no-repeat;
    margin-bottom: 55px;
    padding: 98px 0 74px;
    &__title {
      font-size: 2.25rem;
      font-weight: 700;
      color: $title-color;
      max-width: 539px;
      margin-inline: auto;
      text-align: center;
      margin-bottom: 50px;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &__item {
      max-width: 270px;
      &-icon {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
      }
      &-title {
        font-size: 1.375rem;
        font-weight: 600;
        color: $title-color;
        margin-bottom: 16px;
      }
      &-descr {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.625rem;
        color: $text-color;
        margin-bottom: 70px;
      }
    }
    &__btn {
      text-align: center;
    }
  }

  @media screen and (max-width: 1025px) {
    .features {
      &__wrapper {
        justify-content: center;
        column-gap: 15vw;
      }
      &__title {
        font-size: 32px;
      }
    }
  }

  @media screen and (max-width: 769px) {
    .features {
      &__wrapper {
        column-gap: 5vw;
      }
    }
  }