$title-color: #2f281e;
$text-color: #544837;
$active-color: #f90;
$border-btn-color: #bcd0e5;
$btn-text-color: #fff;
$bg-color-btn-single: #cde0f6;
$bg-color-btn-active: #f47106;
$bg-click: #7752be;
$bg-design: #fab005;
$bg-preference: #f03e3d;
$bg-five-second: #4dadf7;