
@import "variables";

@import "btn";
@import "header";
@import "first-screen";
@import "features";
@import "managers";
@import "marketers";
@import "footer";
@import "hamburger";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: min(90%, 1200px);
  margin-inline: auto;
}

.wrapper {
  padding: 50px 0 50px;
  display: flex;
  justify-content: space-between;
}

.info {
  max-width: 525px;
  &__subtitle{
    padding-top: 20px;
    color: $text-color;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
  }
  &__title {
    color: $title-color;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
  }
  &__descr {
    margin-bottom: 40px;
    color: $text-color;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
  }
  &__list {
    list-style: none;
    & li:last-child p{
      margin-bottom: 0;
    }
    &_title {
      color: $title-color;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.625rem;
      margin-bottom: 10px;
    }
    &_descr {
      color: $text-color;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.625rem;
      margin-bottom: 30px;
    }
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000, .6);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
}


.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 350px;
  height: 100vh;
  background-color: rgba(#FFF, .9);
  z-index: 101;
  transform: translateX(-100%);
  transition: all .4s ease;
  &__top {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: $active-color;
    margin-bottom: 10px;
  }
  nav {
    overflow-y: auto;
    height: calc(100vh - 97px);
  }
}
.mobile_header_links {
  a {
    display: inline-block;
    width: 100%;
    font-size: 1.7rem;
    padding: 10px 20px;
    text-decoration: none;
    color: $active-color;
    background-color: transparent;
    &:hover {
      background-color: darken($active-color, 5%);
      color: #fff;
    }
  }
}
.open-mobile-menu {
  .overlay {
    opacity: 1;
    visibility: visible;
  }
  .mobile-menu {
    transform: translateX(0);
  }
}


#click {
  background: $bg-click;
}
#design {
  background: $bg-design;
}
#preference {
  background: $bg-preference;
}
#five-second {
  background: $bg-five-second;
}
.design, .managers, .marketers {
  .img {
    max-width: 400px;
    img {
      width: 100%;
    }
  }

}

@media screen and (max-width: 1025px) {
  .wrapper {
    gap: 30px;
  }
  .info {
    width: 450px;
  }
}

@media screen and (max-width: 769px) {
  .design, .managers, .marketers {
    img {
      display: none;
    }
  }
  .wrapper {
    padding: 0 30px;
  }
}