@font-face {
  font-family: 'Aleo';
  src: url("../fonts/Aleo-Regular.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'Josefine Regular';
  src: url("../fonts/JosefinSans-Regular.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'Josefine Light';
  src: url("../fonts/JosefinSans-Light.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'Josefine Bold';
  src: url("../fonts/JosefinSans-Bold.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
};
