.hero {
  position: relative;
  padding: 155px 0 0px;
  background: url('../img/header-m.png') center top -110px/ cover no-repeat;
  height: calc(100vh - 84px);

  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {
    max-width: 647px;
    text-align: center;
  }
  &__title {
    font-family: "Josefine Bold";
    color: #fff;
    font-size: 3rem;
    line-height: 3.25rem;
    text-transform: uppercase;
    margin-bottom: 9px;
  }
  &__subtitle {
    font-family: "Josefine Regular";
    color: #fff;
    font-size: 1.375rem;
    line-height: 1.75rem;
    letter-spacing: 0.42625rem;
    margin-bottom: 48px;
  }
  form {
    padding: 4px 5px;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  input {
    padding: 10px 5px;
    width: 100%;
    border: none;
    outline: none;
    color: #999;
    font-family: "Josefine Regular", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.175rem;
    &::placeholder {
      color: #999;
      font-family: "Josefine Regular", sans-serif;
      font-size: 0.875rem;
      line-height: 1.25rem;
      letter-spacing: 0.175rem;
    }
    &:focus{
      border: 2px solid rgb(26, 2, 62);
    }
  }
  &__items {
    padding-left: 26px;
    width: calc(100% - 170px)
  }
  &__btn {
    cursor: pointer;
    border: none;
    width: 139px;
    height: 52px;
    padding: 0 24px 3px 28px;
    padding-top: 3px;
    background-color: #5373FD;  
    outline: none;
    &:focus{
      outline: 2px solid rgb(26, 2, 62);
    }
    span {
      transition: all .5s ease;
      color: #fff;
      font-family: "Aleo";
      font-size: 0.875rem;
      line-height: 1.25rem;
      letter-spacing: 0.0875rem;
      text-transform: uppercase;
    }
    svg {
      path {
        transition: all .5s ease;
      }
      position: relative;
      top: 3px;
      left:-5px;
      fill: #fff;
    }

    &:hover {
      svg path {
        fill: #000;
      }
      span {
        color:#000;
      }
      background-color: #486BFE;
    }
  }
  &__scroll {
    cursor: pointer;
    transition: all .5s ease;
    position: absolute;
    left: 50%;
    bottom: 36px;
    transform: translateX(-50%);
    a {
      position: relative;
      text-decoration: none;
      color: #fff;   
      font-family: "Josefin Regular";
      font-size: 0.875rem;
      line-height: 1.25rem;
      letter-spacing: 0.175rem;
      outline: none;
      &::after {
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        border-left: 3px solid #FFF;
        border-bottom: 3px solid #FFF;
        rotate: -45deg;
      }
      &:focus{
        // border: 2px solid #FFF;
        outline: 2px solid rgb(26, 2, 62);
      }
    }
    &:hover {
      a {
      box-shadow: 4px 3px 15px rgba(75,174,226,1);
      border-radius: 4px;
      padding: 2px;
      }
    }

  }
}
@media screen and (max-width: 1730px) {
  .hero {
    background-position: center top;
  }
}

@media screen and (max-width: 1360px) {
  .container {
    width: min(90%, 1140px)
  }
  .hero {
    padding: 100px 0 0px;
    background: url(../img/header.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 84px);
    &__title {
      margin-bottom: 10px;
    }
    &__subtitle {
      margin-bottom: 47px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    padding: 125px 0 0px;
    background: url(../img/HeaderBg1024.jpg);
    background-position: center top;
    background-size: cover;
  }
}

@media screen and (max-width: 769px) {
  .hero {
    background: url(../img/HeaderBg768.jpg);
    background-position: left top;
    background-size: cover;
    display: block;
    padding-top: 295px;
    height: calc(100vh - 136px);
    &__title {
      margin-bottom: 9px;
    }
    &__subtitle {
      margin-bottom: 47px;
    }
  }
}
@media screen and (max-width: 702px) {
  .hero {
    .container {
      width: min(100%, 540px);
    }
    form {
      width: 100%;
    }
  }
}


@media screen and (max-width: 577px) {
  .container {
    width: min(100%, 540px);
  }
  .hero {
    background: url(../img/HeaderBg576.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height: calc(100vh - 84px);
    &__wrapper {
      max-width: 540px;
    }

  }
}

@media screen and (max-width: 550px) {
  .hero {
    height: calc(100vh - 84px);
    &__wrapper {
      padding: 20px 10px 0;
    }
    form {
      min-width: 300px;
    }
    span {
      display: none;
    }
    &__btn {
      width: 50px;
      padding: 0;
      svg {
        left: 2px;
      }
    }
  }
}