* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #3B3F45;
  height: 100vh;
}

.container {
  width: min(90%, 534px);
  margin: 0 auto;
}

.header {
  padding: 19px 0 12px;
  text-align: center;
  background-color: #4A4F56;
  margin-bottom: 20px;
  color: #FF8984;
}
.header__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
}

.list {
  min-width: 534px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.list__item {
  list-style-type: none;
  font-size: 18px;
  padding: 12px 0 14px 12px;
  background: #88839E;
  color: #fff;
  position: relative;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.list__item:nth-child(even) {
  background: #7A7593;
}
.list__item:hover {
  background: #625E77;
}
.list .wrap-item {
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.list input {
  display: none;
}
.list .custom-checkbox:checked + label::after {
  content: "";
  width: 90%;
  height: 1px;
  position: absolute;
  left: 33px;
  top: 12px;
  background: #9B96AC;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.list .custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  margin-right: 1em;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.list .custom-checkbox:checked + label::before {
  content: "";
  background-image: url("../icons/Vector.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.list li:has(input[type=checkbox]):active {
  color: red;
}
.list li:has(input[type=checkbox]:checked) {
  background: #6f698a;
  color: #9B96AC;
  -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.3);
  z-index: 3;
  position: relative;
}
.list li:has(input[type=checkbox]:checked):active {
  color: red;
}
.list span {
  vertical-align: middle;
  font-size: 12px;
}
.list span::before {
  content: "(";
}
.list span::after {
  content: ")";
}

.footer__descr {
  background: #4A4F56;
  font-size: 18px;
  color: #FF8984;
  text-align: center;
  padding: 12px 0;
}