* {
  font-family: "Open Sans";
}

.container {
  width: min(90%, 970px);
  margin: 0 auto;
}

.header {
  height: 80px;
  padding: 25px 0px;
  border-bottom: 1px solid #828282;

  &__list {
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
      list-style-type: none;
      font-size: 18px;
      line-height: 30px;
      margin-right: 43px;
      &:last-child {
        margin-right: 0px;
      }
    }
    a {
      text-decoration: none;
      color: #828282;
    }
    .active a{
      color: #000;
    }
  }
}

.first-screen {
  margin: 0 auto;
  margin-top: 15px;
  &__wrapper {
    &-title {
      font-weight: bold;
      font-size: 48px;
    }
    &-foto {
      margin-top: 50px;
      img {
        width: 100%;
      }
    }
  }
}

.info {
  background: #f6f6f6;
  &__wrapper {
    padding: 102px 0;
    max-width: 480px;
    margin: 0 auto;
  }
  &__descr {
    margin-top: 46px;
    text-align: center;
    p {
      margin-bottom: 30px;
      line-height: 25px;
      font-size: 18px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

.skills {
  padding: 100px 0px;
  &__text {
    width: 250px;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
  }
  &__items {
    margin-top: 50px;
    margin-bottom: 0px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    flex-wrap: wrap;
    row-gap: 50px;
    li {
      list-style-type: none;
    }
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      &_icon {
        width: 80px;
        height: 80px;
        text-align: center;
      }
      &_name {
        width: 90px;
        height: 38px;
        margin-top: 25px;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        text-align: center;
        color: #828282;
      }
      &-rating {
        display: flex;
        padding-left: 0px;
        margin-top: 60px;
        li {
          margin-right: 10px;
          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
}

.portfolio {
  background: #f6f6f6;
  padding: 102px 0px 30px 0px;
  &__img {
    margin-top: 48px;
    margin-bottom: 40px;
      img {
        width: 100%;
      }
    }
  &__link {
      width: 260px;
      margin: 0 auto;
      margin-bottom: 70px;
      text-align: center;
      a {
        font-size: 18px;
        line-height: 25px;
        color: #828282;
      }
    }
}


.footer {
  padding: 100px 0px;
  width: 310px;
  margin: 0 auto;
  &__descr {
    width: 306px;
    text-align: center;
    font-size: 18px;
    margin-top: 17px;
    line-height: 25px;
  }
  &__btn {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 56px;
    width: 180px;
    height: 44px;
    background: #070707;
    border-radius: 22px;
    font-size: 18px;
    line-height: 19px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    outline: none;
    border: none;
  }
  &__links {
    margin-top: 30px;
    width: 100%;
    padding-left: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    li {
      list-style-type: none;
      width: 40px;
      height: 40px;
      img {
        width: 100%;
      }
    }
  
  }
  &__subdescr {
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    width: 200px;
    height: 60px;
    color: #828282;
    font-size: 14px;
    line-height: 19px;
  }
}
.title {
  font-weight: bold;
  font-size: 34px;
  text-align: center;
}

.star {
  width: 26px;
  height: 26px;
  background: url("../icons/star-icon.png") center center no-repeat;
}
.star_black {
  background: url("../icons/starBlack.png") center center no-repeat;
}
