.architect {
  padding: 120px 0 0;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 370px);
    gap: 30px;
  }
}

// .item-1 {
//   background: url("../img/architectural/image-1.jpg") 50% 50% / cover no-repeat;
// }

// .item-2 {
//   background: url("../img/architectural/image2.jpg") 50% 50% / cover no-repeat;

// }
// .item-3 {
//   background: url("../img/architectural/image3.jpg") 50% 50% / cover no-repeat;

// }
// .item-4 {
//   background: url("../img/architectural/image-4.jpg") 50% 50% / cover no-repeat;

// }
// .item-5 {
//   background: url("../img/architectural/image5.jpg") 50% 50% / cover no-repeat;

// }
// .item-6 {
//   background: url("../img/architectural/image6.jpg") 50% 50% / cover no-repeat;

// }