.portrait {
  padding: 120px 0;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 370px);
    gap: 30px;
    // overflow: hidden;
    // img {
    //   transition: all .3s ease;
    // }
    // &:hover {
    //   img {
    //     scale: 1.2;
    //   }
    // }
  }
}

